<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

	<form method="POST" novalidate>
		{% csrf_token %}
		<h2>Авторизация</h2>

		{% for field in form %}
		<p>
			{% if field.errors %}
			<ul class="errorlist">
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{{ field.label_tag }} {{ field }}
		</p>
		{% endfor %}
		<input type="submit" value="Авторизация" />

		<p><a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
	</form>
</body>
</html>