<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Новые заявки в друзья</h2>

{% for request in friend_requests %}
    <p><a href="{% url 'users:user_profile' username=request.user.username %}">{{ request.user.username }}</a>, отправил(а) запрос в друзья

        <form method="post" action="{% url 'users:accept_request_friend' %}">
            {% csrf_token %}
            <input type="hidden" name="request_id" value="{{ request.id }}">
            <button type="submit">Принять</button>
        </form>

        <form method="post" action="{% url 'users:reject_request_friend' %}">
            {% csrf_token %}
            <input type="hidden" name="request_id" value="{{ request.id }}">
            <button type="submit">Отклонить</button>
        </form>
    </p>
{% endfor %}

</body>
</html>